<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{getRoomConfig().label}}</ion-title>
    <p class="room_name">{{getFloorConfig().label}}</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let device of getRoomConfig().devices">
      <ion-label *ngIf="getDptFormat(device) == 1 || device.type == 1">{{device.label}}</ion-label>

      <!-- KNX component section -->

      <!-- 1.x Switch -->
      <mqtt-toggle *ngIf="device.knx != undefined && getDptFormat(device) == 1"
        [label]="device.label"
        [statusTopic]="getKnxStatusTopic(getFloorConfig().label, getRoomConfig().label, device)"
        [commandTopic]="getKnxCommandTopic(getFloorConfig().label, getRoomConfig().label, device)"
        [highValue]="1"
        [lowValue]="0"></mqtt-toggle>

      <!-- 5.x Uint 8bit-->
      <mqtt-range *ngIf="device.knx != undefined && getDptFormat(device) == 5"
        [label]="device.label"
        [statusTopic]="getKnxStatusTopic(getFloorConfig().label, getRoomConfig().label, device)"
        [commandTopic]="getKnxCommandTopic(getFloorConfig().label, getRoomConfig().label, device)"
        [maxValue]="255"
        [minValue]="0"></mqtt-range>

      <!-- Generic component section -->
      
      <!-- 1 Switch -->
      <mqtt-toggle *ngIf="device.knx == undefined && device.type == 1"
        [label]="device.label"
        [statusTopic]="device.statusTopic"
        [commandTopic]="device.commandTopic"
        [highValue]="device.context.highValue"
        [lowValue]="device.context.lowValue"></mqtt-toggle>
      
    </ion-item>
  </ion-list>
</ion-content>
