<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{getRoomConfig().label}}</ion-title>
    <p class="room_name">{{getFloorConfig().label}}</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let device of getRoomConfig().devices">
      <ion-label>{{device.label}}</ion-label>

      <div *ngIf="device.knx != undefined; else elseBlock" [ngSwitch]="device.knx.groupAddresses[0].dpt"> <!-- KNX component section -->
        
        <div *ngSwitchCase="1.001">
          <mqtt-toggle
          [statusTopic]="getKnxStatusTopic(getFloorConfig().label, getRoomConfig().label, device)"
          [commandTopic]="getKnxCommandTopic(getFloorConfig().label, getRoomConfig().label, device)"
          [highValue]="1"
          [lowValue]="0"></mqtt-toggle>
        </div>
        
      </div>
      <ng-template #elseBlock> <!-- Generic component section -->
        <div [ngSwitch]="device.type">
          <div *ngSwitchCase="1">
            <mqtt-toggle
              [statusTopic]="device.statusTopic"
              [commandTopic]="device.commandTopic"
              [highValue]="device.context.highValue"
              [lowValue]="device.context.lowValue"></mqtt-toggle>
          </div>
          
        </div>
      </ng-template>
      
    </ion-item>
  </ion-list>
</ion-content>
