<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <div *ngFor="let floor of getConfig().project.floors">
    <h3 class="list-header">{{floor.label}}</h3>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="6" size-md="3" *ngFor="let room of floor.rooms">
          <div class="grid-tile" (click)="goToRoomPage(floor.label, room.label)">
            <img src="assets/images/room-bg/{{room.type}}.jpg" alt="{{room.label}}'s image'">
            <p>{{room.label}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
